<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.MxmlcGroup">
<stringAttribute key="ADL_ARGUMENTS" value=""/>
<stringAttribute key="APP_ARGUMENTS" value=""/>
<stringAttribute key="ARGUMENTS" value="-static-link-runtime-shared-libraries=true&#10;-target-player={playerVersion}&#10;-library-path+=&quot;{flexSDK}/frameworks/locale/en_US&quot;&#10;-default-size=${swf_width},${swf_height}&#10;-define=CONFIG::Debug,true&#10;-define+=CONFIG::Release,false"/>
<booleanAttribute key="KILL_PREVIUOS_VIEWER" value="true"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="${projectName}_${PreloaderClass}&#10;[Self]"/>
<stringAttribute key="MAIN_CLASS" value="src/${IndexClass}.as"/>
<stringAttribute key="OUTPUT" value="${outputFolder}/${swfDir}index.swf"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_MAIN_CLASS" value="true"/>
<booleanAttribute key="PASS_RSLS" value="false"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<intAttribute key="PLAYER_HEIGHT" value="${swf_height}"/>
<intAttribute key="PLAYER_WIDTH" value="${swf_width}"/>
<stringAttribute key="POST_COMPILE_ANT" value=""/>
<stringAttribute key="PRE_COMPILE_ANT" value=""/>
<stringAttribute key="PROJECT_NAME" value="${projectName}"/>
<stringAttribute key="PUBLISHER_ID" value=""/>
<booleanAttribute key="START_SWF_ENABLED" value="true"/>
<stringAttribute key="START_SWF_LOCATION" value="${outputFolder}/index.html"/>
<stringAttribute key="START_SWF_WITH" value="External SWF Viewer"/>
<booleanAttribute key="USE_PROJECT_COMPILER_ARGUMENTS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/${projectName}"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
